<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.study">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".StudyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/air"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/air"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="urlscheme"
                    android:host="auth_activity"/>
            </intent-filter>
        </activity>
        <activity android:name=".study_module.viewstub.ViewStubActivity" />
        <activity android:name=".study_module.lambda.LambdaActivity" />
        <activity android:name=".study_module.recyclerview.RecyclerViewActivity" />
        <activity android:name=".study_module.recyclerview.ListViewActivity" />
        <activity android:name=".testuses.TestActivity"/>
        <activity android:name=".study_module.recyclerview.RecyclerViewActivityOne" />
        <activity android:name=".study_module.recyclerview.brvahdemo.BaseUseActivity" />
        <activity android:name=".study_module.sensors.SensorsActivity" />
        <activity android:name=".study_module.sensor.SensorActivity" />
        <activity android:name=".study_module.textview.TextViewActivity" />
        <activity android:name=".study_module.okhttp.OkHttpBaseUseActivity">
            <intent-filter>
                <action android:name="myAction" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="test" />
            </intent-filter>
        </activity>
        <activity android:name=".study_module.retrofit.Retrofit2BaseUseActivity" />
        <activity android:name=".study_module.recyclerview.PulmListViewActivity" />
        <activity android:name=".study_module.loadmore_refresh.RefreshActivity">
            <intent-filter>
                <action android:name="refresh" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".testuses.MainActivity" />
        <activity android:name=".study_module.mvp_test.UserLoginActivity" />
        <activity android:name=".study_module.mvp_test.view.MVCActivity" />
        <activity android:name=".study_module.observer.DesignModeActivity" />
        <activity android:name=".study_module.eventbus.FistEventBusActivity" />
        <activity android:name=".study_module.eventbus.SecondEventBusActivity" />
        <activity android:name=".study_module.material.MaterialActivity" />
        <activity
            android:name=".study_module.material.MaterialCompatActivity"/>
        <activity android:name=".study_module.mvc.SimpleActivity" />
        <activity android:name=".study_module.mvc.WeatherActivity" />
        <activity android:name=".study_module.mvp.view.FanYiActivity" />
        <activity android:name=".study_module.mvcmvpmvvm.LoginActivity" />
        <activity android:name=".study_module.mvcmvpmvvm.mvc.LoginMVCActivity" />
        <activity android:name=".study_module.mvcmvpmvvm.mvp.LoginMVPActivity" />
        <activity android:name=".study_module.rx.RxJavaTest" />
        <activity android:name=".study_module.video.VideoTest" />
        <activity android:name=".study_module.urlscheme.UrlSchemeActivity">

        </activity>
        <activity android:name=".study_module.okhttp.OkHttpTest" />
        <activity android:name=".study_module.net.urlconnection.UrlConnectionActivity" />
        <activity android:name=".study_module.mvp.google.taskdetail.TaskDetailActivity" />
        <activity android:name=".study_module.mvp.my_mvp.module_demo.TestActivity" />
        <activity android:name=".study_module.rx.retrofit_rxjava.WanAndroidActivity" />
        <activity android:name=".study_module.rx.RxJavaTest1" />
        <activity android:name=".utils.updateapk.AndroidOPermissionActivity" />
        <activity android:name=".study_module.material.MaterialDesignActivity" />
        <activity android:name=".study_module.fragment.FragmentMainActivity" />
        <activity android:name=".study_module.dialog.DialogTestActivity" />
    </application>

</manifest>